*{
    padding: 0%;
    margin: 0%;
    color: #3a3a3a;
    box-sizing: border-box;
}
header{
    background-size: cover;
    background-position: end;
}
body{
    background-image: url(/assets/fotos/jojo_s_bizarre_adventure_zeppeli_wallpaper_by_shubwubtub_d9ceqyn.png);
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: cover;        
}
/* REDES*/
.redes{
    margin: 2px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.ps{
    font-family: PS;
    text-align: center;
}
.pslogo{
    margin: 30px;
    transition: transform 1.2s;
    margin-left: 47%;
}
.pslogo:hover{
    transform: scale(1.2);
}
.steam{
    font-family: Steam;
    text-align: center;
}
.steamlogo{
    background-color: white;
    border-radius: 50%;
    margin: 30px;
    margin-left: 47%;
    transition: transform 1.2s;
}
.steamlogo:hover{
    transform: scale(1.2);
    background-image: linear-gradient(to bottom, #192236, #1b2838);
    border-radius: 50px;
    cursor: pointer;
}
.steambord{
    border: 3px solidr rgb(74, 50, 63);
    border-radius: 10px;
    margin: 5px;
    width: 25%;
    margin-left: 39%;
    text-align: center;
}
.git{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-align: center;
}
.gitlogo{
    transition: transform 1.2s;
    margin: 30px;
    background-color: white;
    border-radius: 50%;
    margin-left: 47%;
}
.gitlogo:hover{
    transform: scale(1.2);
    background-image: linear-gradient(to bottom, #0d1117, #161b22);
    cursor: pointer;
    border-radius: 50px;
}
.linkedin{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-align: center;
}
.linkedinlogo{
    margin: 30px;
    transition: transform 1.2s;
    background-color: white;
    margin-left: 47%;
    border-radius: 20px;
}
.linkedinlogo:hover{
    cursor: pointer;
    transform: scale(1.2);    
    background-color: rgb(40, 120, 163);
}

.nick{
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.profile{
    border: 3px solid black;
    border-radius: 100px;
    margin: 20px;
    margin-left: 43%;
}
.profile:hover{
    border: 3px solid white;
    border-radius: 100px;
}   
/* Nick */
@font-face {
    font-family: Luiz;
    src: url(/assets/fontes/End\ and\ Begin.ttf);
}
/* Playstation */
@font-face {
    font-family: PS ;
    src: url(/assets/fontes/zrnic\ rg.otf);
}
/* Steam */
@font-face {
    font-family: Steam ;
    src: url(/assets/fontes/Roboto-Bold.ttf);
}
/*Media query*/
@media  screen and (max-width: 700px) {
    .profile, .header{
        margin-left: 110px;
        width: 150px;
        background: none;
    }
}
@media screen and (max-width: 700px) {
    .gitlogo, .steamlogo, .pslogo, .linkedinlogo{
        width: 80px;
        margin-left: 140px;
        display: flex;
    }
}
/* STEAM API */
.activities{
    font-family: steam;
    text-align: center;
    font-size: 30px;
    color: #1b2838;
}
.game-list{
    border-radius: 30px;
    margin: 2px;
    overflow: hidden;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.game-item{
    width: 15%;
    border-radius: 5px;
    background-position: 20px;
    cursor: pointer;
    background-color: #0d1117;
    margin: 10px;
    display: flex;
}
p{
    border-radius: 2px;
    color: white;
    font-size: 10px;
    font-style: italic;
    font-family: steam;
}
.steam-listgame{    
    width: 50%;
    overflow: hidden;
    border-radius: 20px;
    background-image: url(/assets/fotos/backgroundgamer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 4px solid black;
    padding: 20px;
    height: auto;
    margin: 20px auto;
}